<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="unit tests" configfailurepolicy="continue" parallel="classes" thread-count="3">
    <test name="unit tests">
        <groups>
            <run>
                <include name="mult tests"/>
            </run>
        </groups>
        <classes>
            <class name="unit_tests.GroupTest"/>
            <class name="unit_tests.PriorityTest"></class>
        </classes>
    </test>
</suite>